

html, body, h1, h2, h3, p, img, ul, li, figure {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif; /* You can change the font-family */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header Styles */
.header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

.header a {
    color: #333;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

.header a:hover {
    color: #000;
}

/* Section Styles */
.section {
    background-color: #f8f8f8;
    padding: 50px 0;
}

.section h1 {
    font-size: 3em;
    color: #333;
    margin-bottom: 20px;
}

.section p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}

.section button {
    font-size: 1em;
    color: #fff;
    background-color: #4a5568;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.section button:hover {
    background-color: #2d3748;
}

/* Image Styles */
.section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.footer1 {
    background-color: rgb(255, 89, 0);
    width: 100%;
    padding: 10px 0; 
    position: relative; 
}